In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('test-999.csv', encoding = 'latin-1')
df.head()

,Unnamed: 0,Date,Username,Tweet,cleaned_tweet,len_words,tokens,year,month,label_sentiment,label_willingness,sentiment_score,common_tweet
0,0,2021-11-29 16:44:27+00:00,"Jack\n@_JackRFC_\nÃÂÃÂÃÂÃÂ·\nNov 29, 2021",Might just sack everything off and go and live...,might sack everything live beach bali someth,52,"['might', 'sack', 'everything', 'live', 'beach...",2021,11,positif,visit,1,might sack everything live beach someth
1,1,2021-11-29 14:50:23+00:00,BALI Awards\n@BALI_Awards\nÃÂÃÂÃÂÃÂ·\nN...,Reply with your favourite BALI Awards memories...,reply favourite bali awards memories take trip...,73,"['reply', 'favourite', 'bali', 'awards', 'memo...",2021,11,positif,not_visit,1,reply favourite awards memories take memory lan
2,2,2021-11-29 14:26:04+00:00,No Base! ÃÂÃÂ¦ÃÂÃÂ²ÃÂÃÂÃÂÃÂ§ÃÂÃ...,But are Japanese free to pop over to Hawaii fo...,japanese free hawaii trip bali,35,"['japanese', 'free', 'hawaii', 'trip', 'bali']",2021,11,netral,not_visit,0,japanese free hawaii
3,3,2021-11-29 13:58:53+00:00,Olivia Reilly\n@olivia_reilly\nÃÂÃÂÃÂÃÂ...,"@EmiratesSupport\n hi, IÃÂÃÂ¢ÃÂÃÂÃÂÃ...",emiratessupport travel voucher original flight...,128,"['emiratessupport', 'travel', 'voucher', 'orig...",2021,11,negatif,not_visit,-1,emiratessupport travel voucher original flight...
4,4,2021-11-29 13:01:32+00:00,*She who knows*\n@Jhab__\nÃÂÃÂÃÂÃÂ·\nNo...,I need to plan a spiritual trip to Bali soon,need plan spiritual trip bali soon,34,"['need', 'plan', 'spiritual', 'trip', 'bali', ...",2021,11,positif,visit,1,need plan spiritual soon

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2417 entries, 0 to 2416
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2417 non-null   int64
 1   Date               2417 non-null   object
 2   Username           2417 non-null   object
 3   Tweet              2417 non-null   object
 4   cleaned_tweet      2417 non-null   object
 5   len_words          2417 non-null   int64
 6   tokens             2417 non-null   object
 7   year               2417 non-null   int64
 8   month              2417 non-null   int64
 9   label_sentiment    2417 non-null   object
 10  label_willingness  2414 non-null   object
 11  sentiment_score    2417 non-null   int64
 12  common_tweet       2404 non-null   object
dtypes: int64(5), object(8)
memory usage: 245.6+ KB

In [11]:
counter = Counter(df['common_tweet'].values)
print(counter.most_common(10))

[(nan, 13), ('island', 9), ('beach', 5), ('deserve', 4), ('travel', 4), ('need', 4), ('wait', 4), ('study tour', 3), ('sounds like need vacation', 2), ('dream', 2)]

In [ ]:
cnt = Counter()

for q in df['common_tweet'][df['sentiment_score']==-1].values:
    for o in str(q).split():
        cnt[o]+=1
cnt.most_common(10)

In [ ]:
for y in df['common_tweet'][df['sentiment_score']==0].values:
    for u in str(y).split():
        cnt[u]+=1
cnt.most_common(10)

In [ ]:
for i in df['common_tweet'][df['sentiment_score']==1].values:
    for w in str(i).split():
        cnt[w]+=1
cnt.most_common(10)